{
"name"              :  "DEC",
"name-comm"         :  "наименование валюты (по умолчанию DEC)",
"symbol"            :  "Đ",
"symbol-comm"       :  "символ валюты (по умолчанию Đ, [хранится Unicode:U+0110])",
"total_sum"         :  8589869056,
"total_sum-comm"    :  "сумма-выпускаемых токенов(по умолчанию 8589869056)",
"admin_pub_key"     :  "123456",
"admin_pub_key-comm" :  "Публичный ключ администратора, подпись которого требуется для проведения других операций с разрешением",
"wait_to_date"      :  123456,
"wait_to_date-comm" :  "дата, начиная с которой возможно распределение средств (см. ниже)",
"granularity"       :  7,
"granularity-comm"  :  "минимальная  доля (копейка), после которой происходит округление (по умолчанию 10-4)",
"passkey"           :  "passkey",
"passkey-comm"      :  "фраза для доступа к изменяемым функциям(см. ниже)",
"link"              :  "http://dgt-matagami/dec-info",
"link-comm"         :  "URL с объяснением модели DEC (будет обеспечено позже",
"nоminal"           :  0.8,
"nоminal-comm"      :  "начальная (номинальная цена токена), по умолчанию [0.8 USD]",
"nоminal_name"      :  "USD",                                                           
"nоminal_name-comm" :  "валюта номинала по умолчанию USD", 
"сorporate_account" :  "12345",
"сorporate_account-comm" :  "счет корпорации DGT, на который могут перечисляться токены в соответствии с суммой сorporate_share",
"minting_share"     :  80.0,
"minting_share-comm":  "доля токенов, зарезервированная для минтинга (по умолчанию –80%",
"сorporate_share"   :  10.0,
"сorporate_share-comm" :  "процент выпущенных токенов, который идет на счет корпорации",
"mint_param"        :  {"Umax" : 10, "B2" : 1, "T1" : 1},
"mint_param-comm"   :  "{Umax, 𝛽2, 𝜏1} -набор коэффициентов, определяющих формулу заработка узла в обмен на его показатели SLA (печать)–см. формулу (26) модели3",
"nBurn"             :  3,
"nBurn-comm"        :  "количество раз команды Burn, которая позволяет “сжигать” токены. По умолчанию nBurn= 3",
"fee"               :  1.0,
"fee-comm"          :  "комиссия на транзакции с DEC (по умолчанию 1%)–также может быть изменена"
}
